@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*font-family: 'Inter', sans-serif;*/
@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "SFProDisplay";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

h3 {
  font-family: "Inter", sans-serif; }

h4 {
  font-family: "Lato"; }

/*--------------------*/
/*Header*/
.header__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3baa36;
  z-index: 2; }

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .header__body {
      height: 50px; } }

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  min-width: 160px; }

.header__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.header__burger {
  display: block; }

.header__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2; }
  @media (max-width: 991px) {
    .header__list {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.header__list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .header__list__links {
      display: none; } }

.header__list li {
  list-style: none;
  margin: 0px 40px 0px 0px; }
  @media (max-width: 1200px) {
    .header__list li {
      margin: 0px 5px 0px 20px; } }

.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-family: "Lato";
  color: #fbfbfb; }
  @media (max-width: 1200px) {
    .header__link {
      font-size: 16px; } }

.sing__lang__adapted {
  display: none;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 991px) {
    .sing__lang__adapted .header__menu__language {
      margin: 0px 5px 0px 0px; }
      .sing__lang__adapted .header__menu__language .drop__language .drop__language__btn {
        color: #000; } }
  @media (max-width: 767px) {
    .sing__lang__adapted {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header__menu.active {
  right: 0; }

.header__menu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 400px;
  height: 100%;
  overflow: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  -webkit-box-shadow: -2px 0px 13px #00000059;
  box-shadow: -2px 0px 13px #00000059;
  padding: 27px 10px 20px 25px;
  z-index: 3;
  scrollbar-color: #00000056 #fff;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; }
  .header__menu::-webkit-scrollbar {
    width: 5px;
    height: 10px; }
  .header__menu::-webkit-scrollbar-thumb {
    width: 5px;
    height: 10px;
    background-color: #00000056; }
  @media (max-width: 480px) {
    .header__menu {
      width: 335px;
      padding: 18px 10px 20px 17px; } }
  @media (max-width: 400px) {
    .header__menu {
      width: 300px;
      padding: 18px 10px 20px 17px; } }

.cross {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0px 0px 0px 0px; }
  .cross .cross__item {
    width: 30px;
    height: 30px;
    position: relative; }
    .cross .cross__item::before {
      content: "";
      width: 25px;
      height: 2px;
      background-color: #9c9c9c;
      position: absolute;
      top: 14px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .cross .cross__item::after {
      content: "";
      width: 25px;
      height: 2px;
      background-color: #9c9c9c;
      position: absolute;
      top: 14px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .header__list {
    display: block; }
  .header__list li {
    margin: 0px 0px 20px 0px; }
  .header__link {
    font-size: 24px; } }

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer; }

.header__burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.header__burger.active:before,
.header__burger.active:after {
  background-color: #666666; }

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.header__burger:before {
  top: 0; }

.header__burger:after {
  bottom: 0; }

.header__burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px; }

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px; }

.content {
  padding: 100px 0px 0px 0px; }

.content__text {
  font-size: 18px;
  line-height: 25px; }

.content__text p {
  margin: 0px 0px 20px 0px; }

@media (max-width: 767px) {
  .content {
    padding: 70px 0px 0px 0px; } }

.header__menu__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 10px 5px 10px;
  cursor: pointer; }

.drop__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #0d0d0d; }
  .drop__language .drop__language__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    width: 48px; }
  @media (max-width: 991px) {
    .drop__language {
      font-size: 15px; } }

.header .drop__language .drop__language__btn:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 6px;
  top: 9px; }
  @media (max-width: 767px) {
    .header .drop__language .drop__language__btn:before {
      background-color: #000; } }

.header .drop__language .drop__language__btn:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 0px;
  top: 9px; }
  @media (max-width: 767px) {
    .header .drop__language .drop__language__btn:after {
      background-color: #000; } }

.drop__language {
  position: relative; }

.drop__language__content {
  display: none;
  position: absolute;
  top: 23px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  z-index: 6;
  min-width: 60px; }
  .drop__language__content a {
    color: #222222;
    margin: 1px 0px 1px 0px;
    padding: 1px 7px;
    font-size: 13px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .drop__language__content a:hover {
      background-color: #cfcfcf; }
  .drop__language__content.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

header .header__menu__singin {
  margin: 0px 10px 0px 10px; }

@media (min-width: 767px) {
  .header__menu__lang.adapted,
  .header__menu__singin.adapted {
    display: none; } }

.header__menu__lang.adapted .search__header,
.header__menu__singin.adapted .search__header {
  background-color: unset;
  margin: 0px 0px 0px 10px;
  border-bottom: 1px solid #000;
  color: #000; }
  .header__menu__lang.adapted .search__header::-webkit-input-placeholder,
  .header__menu__singin.adapted .search__header::-webkit-input-placeholder {
    color: #000; }
  .header__menu__lang.adapted .search__header:-ms-input-placeholder,
  .header__menu__singin.adapted .search__header:-ms-input-placeholder {
    color: #000; }
  .header__menu__lang.adapted .search__header::-ms-input-placeholder,
  .header__menu__singin.adapted .search__header::-ms-input-placeholder {
    color: #000; }
  .header__menu__lang.adapted .search__header::placeholder,
  .header__menu__singin.adapted .search__header::placeholder {
    color: #000; }

@media (max-width: 1200px) {
  header .header__menu__singin {
    margin: 0px 3px 0px 10px; } }

header .header__menu__singin .sing_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase; }

.search__header__form {
  display: none; }

.search__header__form.show {
  display: contents; }

.sing__in__button {
  cursor: pointer; }

.search__header {
  background-color: #3baa36;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 5px 10px 1px 3px;
  margin: 0px 12px 0px 0px;
  width: 90px; }

.search__header::-webkit-input-placeholder {
  color: #fff; }

.search__header:-ms-input-placeholder {
  color: #fff; }

.search__header::-ms-input-placeholder {
  color: #fff; }

.search__header::placeholder {
  color: #fff; }

@media (max-width: 991px) {
  header .header__menu__singin .sing_in {
    font-size: 14px; } }

header .header__menu__singin .img {
  margin: 0px 12px 0px 0px; }

@media (max-width: 991px) {
  header .header__menu__singin .img {
    margin: 0px 8px 0px 0px; } }

.header__menu__desk {
  width: 94%; }
  @media (max-width: 767px) {
    .header__menu__desk {
      display: none; } }

.lang__singin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 77%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .header__content {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.header__menu.toggle .header__list .header__list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px 0px 25px 0px; }
  .header__menu.toggle .header__list .header__list__links li {
    margin: 0px 0px 13px 0px; }
    .header__menu.toggle .header__list .header__list__links li a {
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      color: #000000; }

.header__menu.toggle .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header__menu__logo_cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 70%;
  margin: 0px 0px 25px 0px; }
  .header__menu__logo_cross .logo__img {
    margin: 0px 50px 0px 0px; }
    @media (max-width: 480px) {
      .header__menu__logo_cross .logo__img {
        margin: 0px 30px 0px 0px; } }

.site__info {
  margin: 0px 0px 35px 0px; }
  .site__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .site__info ul li {
      margin: 0px 30px 0px 0px; }
      @media (max-width: 480px) {
        .site__info ul li {
          margin: 0px 20px 0px 0px; } }
      .site__info ul li a {
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        color: #000000; }

.header__list .social__icons p {
  margin: 0px 0px 12px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000; }

.header__list .social__icons__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__list .social__icons__items ul li {
    margin: 0px 19px 0px 0px; }
    @media (max-width: 480px) {
      .header__list .social__icons__items ul li {
        margin: 0px 12px 0px 0px; } }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 20px; }
  @media (max-width: 767px) {
    .container {
      padding: 0px 10px; } }

/*BLOCK__1*/
.block__1 {
  padding: 80px 0px 0px 0px; }
  @media (max-width: 991px) {
    .block__1 {
      padding: 50px 0px 0px 0px; } }

.block__1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 25px 0px;
  border-bottom: 1px solid #5f903b; }
  @media (max-width: 991px) {
    .block__1__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      padding: 25px 0px 25px 0px; } }
  .block__1__content .main__news {
    margin: 0px 0px 20px 0px; }
    @media (max-width: 768px) {
      .block__1__content .main__news {
        display: none; } }

.scroll__news {
  margin: 0px 25px 0px 0px;
  min-width: 290px; }
  @media (max-width: 991px) {
    .scroll__news {
      margin: 0px 0px 0px 0px; } }

.scroll__news__title {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  border-bottom: 1px solid #dddddd;
  margin: 0px 0px 18px 0px;
  padding: 0px 0px 5px 0px; }

.scroll__news__block {
  background: #fafafa;
  padding: 25px 13px 20px 13px; }

.scroll__news__block__content {
  scrollbar-color: #3baa36 #dddddd;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */
  max-height: 495px;
  overflow-y: scroll;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px; }
  @media (max-width: 1200px) {
    .scroll__news__block__content {
      max-height: 465px; } }
  .scroll__news__block__content::-webkit-scrollbar {
    width: 3px;
    /* ширина для вертикального скролла */
    height: 3px;
    /* высота для горизонтального скролла */
    background-color: #dddddd; }
  .scroll__news__block__content::-webkit-scrollbar-thumb {
    width: 3px;
    /* ширина для вертикального скролла */
    height: 3px;
    background-color: #3baa36;
    border-radius: 5px; }

.scroll__news__item {
  margin: 0px 0px 15px 0px; }
  .scroll__news__item a {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #222222;
    margin: 0px 0px 10px 0px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .scroll__news__item a:hover {
      color: #5f903b; }

.scroll__news__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #9c9c9c;
  border-bottom: 1.5px solid #f3f3f3;
  padding: 0px 0px 9px 0px; }
  .scroll__news__item__info.bb_reset {
    border-bottom: unset; }
  .scroll__news__item__info.sub p {
    color: #f3f3f3; }
  .scroll__news__item__info .watches {
    margin: 0px 10px 0px 0px; }
  .scroll__news__item__info .watches__text {
    margin: 0px 20px 0px 0px;
    white-space: nowrap; }
  .scroll__news__item__info .eyes {
    margin: 0px 10px 0px 0px; }
  .scroll__news__item__info.main__news {
    border-bottom: unset;
    padding: 0px 0px 0px 0px; }

.scroll__news__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .scroll__news__link a p {
    margin: 0px 8px 0px 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #7cab41; }

.main__news__up__faund {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 1fr;
  grid-template-columns: 2.1fr 1fr;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 25px;
  margin: 0px 0px 10px 0px; }
  @media (max-width: 767px) {
    .main__news__up__faund {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      row-gap: 15px; } }
  .main__news__up__faund .faund__link {
    display: block;
    position: relative; }
    .main__news__up__faund .faund__link .img {
      width: 100%;
      height: 100%; }

@media (max-width: 767px) {
  .main__news__up__faund__right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 20px; } }

.main__news__up__faund__cnt {
  width: 100%; }

.faund__right {
  position: relative; }
  .faund__right .img {
    position: relative; }
    .faund__right .img::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.349);
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .faund__right .img img {
      -o-object-fit: cover;
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      width: 100%; }
  .faund__right.sub {
    margin: 0px 0px 19px 0px; }
    @media (max-width: 1200px) {
      .faund__right.sub {
        margin: 0px 0px 15px 0px; } }
    .faund__right.sub .faund__right__content {
      padding: 5px 13px; }
      .faund__right.sub .faund__right__content .scroll__news__item__info.sub {
        border-bottom: unset; }
      .faund__right.sub .faund__right__content a {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #ffffff;
        margin: 0px 0px 10px 0px;
        max-height: 32px;
        overflow: hidden; }

.faund__right__content {
  position: absolute;
  bottom: 0; }
  .faund__right__content.main {
    padding: 10px 18px; }
    .faund__right__content.main a {
      display: block;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      color: #ffffff;
      margin: 0px 0px 12px 0px;
      max-height: 125px;
      overflow: hidden; }
    .faund__right__content.main .scroll__news__item__info {
      border-bottom: unset; }

.main__news__down {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 25px; }
  @media (max-width: 767px) {
    .main__news__down {
      -webkit-column-gap: 15px;
      column-gap: 15px;
      row-gap: 20px; } }

.main__news__down__item a .img {
  margin: 0px 0px 10px 0px; }
  .main__news__down__item a .img img {
    max-width: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.main__news__down__item a .main__news__down__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #222222;
  margin: 0px 0px 10px 0px;
  max-height: 63px;
  min-height: 63px;
  overflow: hidden; }

.main__news__slider {
  margin: 0px 0px 15px 0px; }
  @media (min-width: 769px) {
    .main__news__slider {
      display: none; } }
  .main__news__slider .slick-slider {
    min-width: 0; }
  .main__news__slider .slick-list {
    overflow: hidden; }
  .main__news__slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main__news__slider .slider {
    position: relative; }
  @media (max-width: 767px) {
    .main__news__slider .slider {
      padding: 0px 5px; } }
  .main__news__slider .slider .slick-arrow {
    position: absolute;
    top: 51%;
    margin: -15px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 31px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid #9c9c9c;
    background-color: unset; }
    .main__news__slider .slider .slick-arrow:hover {
      border: 1.5px solid #59aa33; }
    @media (max-width: 767px) {
      .main__news__slider .slider .slick-arrow {
        top: 51%; } }
  .main__news__slider .slider .slick-arrow.slick-prev {
    left: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin: -15px 0px 0px 15px; }
    .main__news__slider .slider .slick-arrow.slick-prev::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 11px;
      left: 9px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .main__news__slider .slider .slick-arrow.slick-prev::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      bottom: 10px;
      left: 9px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
  .main__news__slider .slider .slick-arrow.slick-prev:hover:before {
    background-color: #59aa33; }
  .main__news__slider .slider .slick-arrow.slick-prev:hover:after {
    background-color: #59aa33; }
  .main__news__slider .slider .slick-arrow.slick-next:hover:before {
    background-color: #59aa33; }
  .main__news__slider .slider .slick-arrow.slick-next:hover:after {
    background-color: #59aa33; }
  .main__news__slider .slider .slick-arrow.slick-next {
    right: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin: -15px 15px 0px 0px; }
    .main__news__slider .slider .slick-arrow.slick-next::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 11px;
      left: 9px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .main__news__slider .slider .slick-arrow.slick-next::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 10px;
      left: 9px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
  .main__news__slider .slider .slick-arrow.slick-disabled {
    opacity: 0.2; }
  .main__news__slider .slider__item {
    padding: 0px 5px;
    outline: none; }
  .main__news__slider .slider__item img {
    max-width: 100%; }
  .main__news__slider .faund__right__content.main a {
    font-size: 20px; }
    @media (max-width: 420px) {
      .main__news__slider .faund__right__content.main a {
        font-size: 17px; } }
  .main__news__slider .faund__right__content.main a {
    max-height: 75px; }
  .main__news__slider .faund__right:active .img::after {
    background-color: unset; }

/*BLOCK__2*/
.block__2 {
  padding: 20px 0px 0px 0px; }
  @media (max-width: 420px) {
    .block__2 {
      padding: 20px 0px 15px 0px; } }

.block__2__tittle {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #222222;
  margin: 0px 0px 17px 0px; }

.block__2__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 20px;
  border-bottom: 1px solid #5f903b;
  padding: 0px 0px 20px 0px; }
  @media (max-width: 1200px) {
    .block__2__content {
      -webkit-column-gap: 20px;
      column-gap: 20px; } }
  @media (max-width: 767px) {
    .block__2__content {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

.block__2__right__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 0px 0px 13px 0px;
  border-bottom: 1.5px solid #f3f3f3; }
  .block__2__right__item a {
    width: 100%; }
  .block__2__right__item:last-child {
    border-bottom: unset; }
  .block__2__right__item .img {
    margin: 0px 0px 0px 0px; }
    @media (max-width: 420px) {
      .block__2__right__item .img {
        margin: 0px 10px 0px 0px; } }
    .block__2__right__item .img img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      min-height: 135px;
      min-width: 140px; }
  @media (max-width: 767px) {
    .block__2__right__item {
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 10px 0px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 10px;
      column-gap: 10px;
      row-gap: 20px; } }
  @media (max-width: 420px) {
    .block__2__right__item {
      -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 5px 0px;
      -webkit-column-gap: 5px;
      column-gap: 5px; } }

.block__2__right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.block__2__rubric {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #5f903b;
  margin: 0px 0px 10px 0px; }

.block__right__2__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #222222;
  margin: 0px 0px 10px 0px;
  max-height: 72px;
  overflow: hidden; }
  @media (max-width: 420px) {
    .block__right__2__text {
      font-size: 18px;
      max-height: 66px; } }

.block__2__left .img {
  margin: 0px 0px 10px 0px; }
  .block__2__left .img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%; }

.block__2__left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .block__2__left__content .block__2__text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #222222;
    margin: 0px 0px 10px 0px;
    max-height: 70px;
    overflow: hidden; }
    @media (max-width: 420px) {
      .block__2__left__content .block__2__text {
        font-size: 25px;
        margin: 0px 0px 5px 0px; } }

.single__rubric {
  padding: 20px 0px 20px 0px; }

.single__rubric__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 17px 0px; }
  .single__rubric__title .title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #222222; }
  .single__rubric__title .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #9c9c9c; }
    .single__rubric__title .link img {
      margin: 0px 0px 0px 7px; }

.single__rubric__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 20px; }
  @media (max-width: 1200px) {
    .single__rubric__content {
      -webkit-column-gap: 20px;
      column-gap: 20px; } }
  @media (max-width: 991px) {
    .single__rubric__content {
      -webkit-column-gap: 15px;
      column-gap: 15px; } }
  @media (max-width: 767px) {
    .single__rubric__content {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

@media (min-width: 767px) {
  .single__rubric__item .img {
    margin: 0px 0px 10px 0px; } }

.single__rubric__item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 120px;
  min-width: 140px; }

@media (max-width: 767px) {
  .single__rubric__item a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px; } }

.single__rubric__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  margin: 0px 0px 10px 0px;
  max-height: 54px;
  overflow: hidden; }
  @media (max-width: 420px) {
    .single__rubric__text {
      font-size: 17px;
      max-height: 34px;
      margin: 0px 0px 7px 0px; } }

.single__rubric__subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #9c9c9c;
  margin: 0px 0px 10px 0px;
  max-height: 48px;
  overflow: hidden; }
  @media (max-width: 420px) {
    .single__rubric__subtext {
      font-size: 15px;
      max-height: 32px;
      margin: 0px 0px 7px 0px; } }

.fulscreen__block {
  background-color: #e3f0e2;
  padding: 25px 0px 25px 0px;
  margin: 0px 0px 10px 0px; }

.fulscreen__block__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 15px; }
  @media (max-width: 570px) {
    .fulscreen__block__content {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 18px;
      column-gap: 18px; } }
  @media (max-width: 380px) {
    .fulscreen__block__content {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      overflow-y: scroll;
      max-height: 800px;
      scrollbar-color: #a7a7a7 #dddddd;
      /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
      /* толщина */ }
      .fulscreen__block__content::-webkit-scrollbar {
        width: 2px;
        /* ширина для вертикального скролла */
        height: 3px;
        /* высота для горизонтального скролла */
        background-color: #dddddd; }
      .fulscreen__block__content::-webkit-scrollbar-thumb {
        width: 2px;
        /* ширина для вертикального скролла */
        height: 3px;
        background-color: #a7a7a7;
        border-radius: 5px; } }

.fulscreen__block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .fulscreen__block__item .rubric__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #5f903b;
    display: block;
    margin: 0px 0px 10px 0px; }
  .fulscreen__block__item .content__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #222222;
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 0px 0px;
    max-height: 37px;
    overflow: hidden; }

.block__4 {
  margin: 0px 0px 30px 0px; }

.block__4__content {
  border-top: 1px solid #5f903b;
  padding: 20px 0px 0px 0px; }
  .block__4__content .block__2__left .img {
    position: relative;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .block__4__content .block__2__left .img::after {
      content: url(../img/block__4/play_icon.svg);
      width: 50px;
      position: absolute;
      top: 45%;
      left: 45%; }
  .block__4__content .block__2__right__item .img {
    position: relative; }
    .block__4__content .block__2__right__item .img::after {
      content: url(../img/block__4/play_icon.svg);
      width: 50px;
      position: absolute;
      top: 31%;
      left: 40%; }
      @media (max-width: 420px) {
        .block__4__content .block__2__right__item .img::after {
          top: 28%;
          left: 30%; } }
  .block__4__content .block__2__content {
    border-bottom: unset; }

/*FOOTER*/
footer {
  background: #fafafa;
  padding: 30px 0px 30px 0px; }

.footer__up__bb {
  border-bottom: 1px solid #dbdbdb;
  padding: 0px 0px 20px 0px; }

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 500px) {
    .footer__up {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 500px) {
    .footer__up .img {
      margin: 0px 0px 15px 0px; } }

.footer__up__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer__up__social .social__item {
    margin: 0px 0px 0px 15px; }

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0px 0px 0px; }
  @media (max-width: 767px) {
    .footer__down {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__down__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  row-gap: 5px; }
  @media (max-width: 1200px) {
    .footer__down__content {
      -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
      justify-items: center; } }
  @media (max-width: 767px) {
    .footer__down__content {
      -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr; } }

.footer__down__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  margin: 0px 15px 10px 0px; }
  @media (max-width: 767px) {
    .footer__down__link {
      text-align: center;
      margin: 0px 0px 10px 0px; } }

@media (max-width: 767px) {
  .footer__down__bc__promo {
    margin: 17px 0px 0px 0px; } }

.footer__down__bc__promo a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000; }
  .footer__down__bc__promo a span {
    font-weight: bold; }

/*MAIN__RUBRIC*/
.main__rubric {
  padding: 105px 0px 0px 0px; }
  .main__rubric .scroll__news {
    min-width: 275px; }

.main__rubric__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 20px; }
  @media (max-width: 1200px) {
    .grid__container {
      -webkit-column-gap: 15px;
      column-gap: 15px; } }

.main__rubric__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px 25px 35px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.bread__crumps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 25px 0px; }
  .bread__crumps img {
    margin: 0px 8px 0px 0px; }

.bread__crumps__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  margin: 0px 8px 0px 0px; }
  .bread__crumps__item.active {
    color: #5f903b; }

.main__rubric__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0px 0px 17px 0px; }

/*TABS*/
.main__block__left__content__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 500px;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin: 30px 0px 0px 0px; }
  .main__block__left__content__tabs .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #9c9c9c; }
    .main__block__left__content__tabs .text:hover {
      background: #3baa36;
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      color: #fff; }
    .main__block__left__content__tabs .text.active {
      background: #3baa36;
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      color: #fff; }
    .main__block__left__content__tabs .text.arrow:hover {
      background: #dbdbdb;
      border-radius: 10px; }
  .main__block__left__content__tabs .tabs__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fafafa;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main__block__left__content__tabs .tabs__center .tabs__center__item {
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      padding: 2px 2px;
      width: 36px;
      height: 36px; }
