@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*font-family: 'Inter', sans-serif;*/

@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "SFProDisplay";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
h3 {
  font-family: "Inter", sans-serif;
}

h4 {
  font-family: "Lato";
}
/*--------------------*/

/*Header*/

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3baa36;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 991px) {
    height: 50px;
  }
}

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  min-width: 160px;
}

.header__logo img {
  width: 100%;
  object-fit: cover;
}

.header__burger {
  display: block;
}

.header__menu {
  flex: 0 0 75%;
}

.header__list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  @media (max-width: 991px) {
    justify-content: flex-end;
  }
}

.header__list__links {
  display: flex;
  justify-content: space-between;
  @media (max-width: 991px) {
    display: none;
  }
}
.header__list li {
  list-style: none;
  margin: 0px 35px 0px 0px;
  @media (max-width: 1200px) {
    margin: 0px 5px 0px 20px;
  }
}

.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-family: "Lato";
  color: #fbfbfb;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}
.sing__lang__adapted {
  display: none;
  margin: 0px 0px 20px 0px;
  @media (max-width: 991px) {
    .header__menu__language {
      margin: 0px 5px 0px 0px;
      .drop__language .drop__language__btn {
        color: #000;
      }
    }
  }
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
  }
}
.header__menu.active {
  right: 0;
}
.header__menu {
  position: fixed;
  right: -104%;
  top: 0;
  width: 400px;
  height: 100%;
  overflow: auto;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  box-shadow: -2px 0px 13px #00000059;
  padding: 20px 10px 20px 25px;
  z-index: 3;
  scrollbar-color: #00000056 #fff; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    height: 10px;
    background-color: #00000056;
  }
  @media (max-width: 991px) {
    padding: 12px 10px 20px 16px;
  }
  @media (max-width: 480px) {
    width: 100%;
    padding: 12px 10px 20px 16px;
  }
  @media (max-width: 400px) {
    padding: 12px 10px 20px 16px;
  }
}
.cross {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0px 0px 0px 0px;
  .cross__item {
    width: 30px;
    height: 30px;
    position: relative;
    &::before {
      content: "";
      width: 25px;
      height: 2px;
      background-color: #9c9c9c;
      position: absolute;
      top: 14px;
      transform: rotate(-45deg);
    }
    &::after {
      content: "";
      width: 25px;
      height: 2px;
      background-color: #9c9c9c;
      position: absolute;
      top: 14px;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__logo {
  }

  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.header__burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.header__burger.active:before,
.header__burger.active:after {
  background-color: rgb(102, 102, 102);
}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.content {
  padding: 100px 0px 0px 0px;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767px) {
  .content {
    padding: 70px 0px 0px 0px;
  }
}

.header__menu__language {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.drop__language {
  .drop__language__btn {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    width: 41px;
  }
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #0d0d0d;
  @media (max-width: 991px) {
    font-size: 15px;
  }
}

.header .drop__language .drop__language__btn:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  right: 6px;
  top: 9px;
  @media (max-width: 767px) {
    background-color: #000;
  }
}
.header .drop__language .drop__language__btn:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
  right: 0px;
  top: 9px;
  @media (max-width: 767px) {
    background-color: #000;
  }
}

.drop__language {
  position: relative;
}

.drop__language__content {
  display: none;
  position: absolute;
  top: 23px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  z-index: 6;
  min-width: 60px;
  a {
    color: #222222;
    margin: 1px 0px 1px 0px;
    padding: 1px 7px;
    font-size: 13px;
    transition: all ease 0.3s;
    &:hover {
      background-color: rgb(207, 207, 207);
    }
  }
  &.show {
    display: flex;
    flex-direction: column-reverse;
  }
}

header .header__menu__singin {
  margin: 0px 10px 0px 10px;
}

.header__menu__lang.adapted,
.header__menu__singin.adapted {
  @media (min-width: 767px) {
    display: none;
  }
  .search__header {
    background-color: unset;
    margin: 0px 0px 0px 10px;
    border-bottom: 1px solid #000;
    color: #000;
    &::placeholder {
      color: #000;
    }
  }
}
@media (max-width: 1200px) {
  header .header__menu__singin {
    margin: 0px 3px 0px 10px;
  }
}

header .header__menu__singin .sing_in {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}
.search__header__form {
  display: none;
}

.search__header__form.show {
  display: contents;
}
.sing__in__button {
  cursor: pointer;
}
.search__header {
  background-color: #fff;
  color: #929292;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
  padding: 5px 10px 3px 5px;
  margin: 0px 4px 0px 0px;
  width: 150px;

  @media (max-width: 1200px) {
    width: 145px;
  }
  @media (max-width: 1045px) {
    width: 123px;
  }
  @media (max-width: 991px) {
    width: 150px;
  }
}
.search__header::placeholder {
  color: #929292;
}

@media (max-width: 991px) {
  header .header__menu__singin .sing_in {
    font-size: 14px;
  }
}

header .header__menu__singin .img {
  margin: 0px 12px 0px 0px;
}

@media (max-width: 991px) {
  header .header__menu__singin .img {
    margin: 0px 8px 0px 0px;
  }
}

.header__menu__desk {
  width: 94%;
  @media (max-width: 767px) {
    display: none;
  }
}

.lang__singin {
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  width: 77%;
  justify-content: space-between;
  @media (max-width: 767px) {
    justify-content: flex-end;
  }
}

.header__menu.toggle {
  .header__list {
    .header__list__links {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 25px 0px;
      li {
        margin: 0px 0px 13px 0px;
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 100%;
          color: #000000;
        }
      }
    }
  }
  .header__list {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.header__menu__logo_cross {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: 0px 0px 25px 0px;
  @media (max-width: 420px) {
    margin: 0px 0px 20px 0px;
  }
  .logo__img {
    margin: 0px 50px 0px 0px;
    img {
      max-width: 100%;
      min-width: 189px;
      @media (max-width: 480px) {
        min-width: unset;
        max-width: 177px;
        min-width: 177px;
      }
    }
    @media (max-width: 480px) {
      margin: 0px 30px 0px 0px;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    justify-content: space-between;
  }
}
.site__info {
  margin: 0px 0px 35px 0px;
  ul {
    display: flex;
    li {
      margin: 0px 30px 0px 0px;
      @media (max-width: 480px) {
        margin: 0px 20px 0px 0px;
      }
      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
      }
    }
  }
}

.header__list {
  .social__icons {
    p {
      margin: 0px 0px 12px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      color: #000000;
    }
  }
  .social__icons__items {
    ul {
      display: flex;
      li {
        margin: 0px 19px 0px 0px;
        @media (max-width: 480px) {
          margin: 0px 12px 0px 0px;
        }
      }
    }
  }
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 20px;
  @media (max-width: 767px) {
    padding: 0px 10px;
  }
}

/*BLOCK__1*/

.block__1 {
  padding: 80px 0px 0px 0px;

  @media (max-width: 991px) {
    padding: 50px 0px 0px 0px;
  }
}

.block__1__content {
  display: flex;
  padding: 30px 0px 25px 0px;
  border-bottom: 1px solid #5f903b;
  @media (max-width: 991px) {
    flex-direction: column-reverse;
    padding: 25px 0px 25px 0px;
  }
  .main__news {
    margin: 0px 0px 20px 0px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.scroll__news {
  margin: 0px 25px 0px 0px;
  min-width: 290px;
  @media (max-width: 991px) {
    margin: 0px 0px 0px 0px;
  }
}
.scroll__news__title {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  border-bottom: 1px solid #dddddd;
  margin: 0px 0px 18px 0px;
  padding: 0px 0px 5px 0px;
}

.scroll__news__block {
  background: #fafafa;
  padding: 25px 13px 20px 13px;
}

.scroll__news__block__content {
  scrollbar-color: #3baa36 #dddddd; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  max-height: 495px;
  overflow-y: scroll;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  @media (max-width: 1200px) {
    max-height: 465px;
  }
  &::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: #dddddd;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px;
    background-color: #3baa36;
    border-radius: 5px;
  }
}

.scroll__news__item {
  margin: 0px 0px 15px 0px;
  a {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #222222;
    margin: 0px 0px 10px 0px;
    transition: all ease 0.3s;
    overflow: hidden;
    &:hover {
      color: #5f903b;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      max-height: 38px;
    }
    @media (max-width: 420px) {
      font-size: 15px;
    }
  }
}
.scroll__news__item__info {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #9c9c9c;
  border-bottom: 1.5px solid #f3f3f3;
  padding: 0px 0px 9px 0px;
  @media (max-width: 420px) {
    font-size: 13px;
  }
  &.bb_reset {
    border-bottom: unset;
  }
  &.sub {
    p {
      color: #f3f3f3;
    }
  }
  .watches {
    margin: 0px 10px 0px 0px;
  }
  .watches__text {
    margin: 0px 20px 0px 0px;
    white-space: nowrap;
  }
  .eyes {
    margin: 0px 10px 0px 0px;
  }

  &.main__news {
    border-bottom: unset;
    padding: 0px 0px 0px 0px;
  }
}
.scroll__news__link {
  a {
    p {
      margin: 0px 8px 0px 0px;
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      color: #7cab41;
    }
    display: flex;
    align-items: center;
  }
}

.main__news {
}
.main__news__up {
}
.main__news__up__faund {
  position: relative;
  display: grid;
  grid-template-columns: 2.1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  margin: 0px 0px 10px 0px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .faund__link {
    display: block;
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      img {
      }
    }
  }
}
.main__news__up__faund__left {
}

.main__news__up__faund__right {
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}

.main__news__up__faund__cnt {
  width: 100%;
}
.faund__right {
  position: relative;
  .img {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.349);
      transition: all ease 0.3s;
    }
    img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }
  &.sub {
    margin: 0px 0px 19px 0px;
    @media (max-width: 1200px) {
      margin: 0px 0px 15px 0px;
    }
    .faund__right__content {
      padding: 5px 13px;

      .scroll__news__item__info.sub {
        border-bottom: unset;
      }
      a {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #ffffff;
        margin: 0px 0px 10px 0px;
        max-height: 32px;
        overflow: hidden;
      }
    }
  }
}

.faund__right__content {
  position: absolute;
  bottom: 0;
  &.main {
    padding: 10px 18px;

    a {
      display: block;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      color: #ffffff;
      margin: 0px 0px 12px 0px;
      max-height: 125px;
      overflow: hidden;
    }
    .scroll__news__item__info {
      border-bottom: unset;
    }
  }
}

.main__news__down {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  @media (max-width: 767px) {
    column-gap: 15px;
    row-gap: 20px;
  }
}

.main__news__down__item {
  a {
    .img {
      margin: 0px 0px 10px 0px;

      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .main__news__down__item {
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color: #222222;
      margin: 0px 0px 10px 0px;
      max-height: 63px;
      min-height: 63px;
      overflow: hidden;
    }
  }
}

.main__news__slider {
  margin: 0px 0px 15px 0px;
  @media (min-width: 769px) {
    display: none;
  }
  .slick-slider {
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slider {
    position: relative;
  }

  @media (max-width: 767px) {
    .slider {
      padding: 0px 5px;
    }
  }

  .slider .slick-arrow {
    position: absolute;
    top: 51%;
    margin: -15px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 31px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid #9c9c9c;
    background-color: unset;
    &:hover {
      border: 1.5px solid #59aa33;
    }
    @media (max-width: 767px) {
      top: 51%;
    }
  }
  .slider .slick-arrow.slick-prev {
    left: 0;
    transition: all ease 0.3s;
    margin: -15px 0px 0px 15px;
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      transform: rotate(-45deg);
      top: 11px;
      left: 9px;
      transition: all ease 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      transform: rotate(45deg);
      bottom: 10px;
      left: 9px;
      transition: all ease 0.3s;
    }
  }

  .slider .slick-arrow.slick-prev:hover:before {
    background-color: #59aa33;
  }
  .slider .slick-arrow.slick-prev:hover:after {
    background-color: #59aa33;
  }
  .slider .slick-arrow.slick-next:hover:before {
    background-color: #59aa33;
  }
  .slider .slick-arrow.slick-next:hover:after {
    background-color: #59aa33;
  }
  .slider .slick-arrow.slick-next {
    right: 0;
    transition: all ease 0.3s;
    margin: -15px 15px 0px 0px;
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      transform: rotate(45deg);
      top: 11px;
      left: 9px;
      transition: all ease 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 1.5px;
      background-color: #9c9c9c;
      transform: rotate(-45deg);
      bottom: 10px;
      left: 9px;
      transition: all ease 0.3s;
    }
  }
  .slider .slick-arrow.slick-disabled {
    opacity: 0.2;
  }

  .slider__item {
    padding: 0px 5px;
    outline: none;
  }
  .slider__item img {
    max-width: 100%;
  }
  .slider__item.slick-center {
  }
  .faund__right__content.main a {
    @media (max-width: 420px) {
      font-size: 16px;
    }
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .faund__right__content.main a {
    max-height: 75px;
  }
  .faund__right {
    &:active .img::after {
      background-color: unset;
    }
  }
}

/*BLOCK__2*/

.block__2 {
  padding: 20px 0px 0px 0px;

  @media (max-width: 420px) {
    padding: 20px 0px 7px 0px;
  }
}

.block__2__tittle {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #222222;
  margin: 0px 0px 17px 0px;
}
.block__2__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  border-bottom: 1px solid #5f903b;
  padding: 0px 0px 20px 0px;
  @media (max-width: 1200px) {
    column-gap: 20px;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.block__2__right__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 0px 0px 6px 0px;
  margin: 6px 0px 0px 0px;
  border-bottom: 1.5px solid #f3f3f3;

  a {
    width: 100%;
  }
  &:last-child {
    border-bottom: unset;
  }
  .img {
    margin: 0px 0px 0px 0px;
    @media (max-width: 420px) {
      margin: 0px 10px 0px 0px;
    }
    img {
      object-fit: cover;
      width: 100%;
      min-height: 135px;
      min-width: 140px;
    }
  }
  @media (max-width: 767px) {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  }
  @media (max-width: 420px) {
    grid-template-columns: 1fr 2fr;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 5px 0px;
    column-gap: 5px;
  }
}
.block__2__right {
}
.block__2__right__content {
  display: flex;
  flex-direction: column;
}
.block__2__rubric {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #5f903b;
  margin: 0px 0px 10px 0px;
}
.block__right__2__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #222222;
  margin: 0px 0px 10px 0px;
  max-height: 72px;
  overflow: hidden;
  @media (max-width: 768px) {
    font-size: 18px;
    max-height: 70px;
  }
  @media (max-width: 420px) {
    font-size: 15px;
    max-height: 56px;
  }
}

.block__2__left {
  .img {
    margin: 0px 0px 10px 0px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.block__2__left__content {
  display: flex;
  flex-direction: column;
  .block__2__text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #222222;
    margin: 0px 0px 10px 0px;
    max-height: 70px;
    overflow: hidden;
    @media (max-width: 768px) {
      font-size: 22px;
      max-height: 54px;
    }
    @media (max-width: 420px) {
      font-size: 17px;
      margin: 0px 0px 5px 0px;
      max-height: 43px;
    }
  }
}

.single__rubric {
  padding: 20px 0px 20px 0px;
}

.single__rubric__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 17px 0px;
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #222222;
  }
  .link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #9c9c9c;
    img {
      margin: 0px 0px 0px 7px;
    }
  }
}
.single__rubric__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 20px;
  @media (max-width: 1200px) {
    column-gap: 20px;
  }
  @media (max-width: 991px) {
    column-gap: 15px;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 420px) {
  }
}
.single__rubric__item {
  .img {
    @media (min-width: 767px) {
      margin: 0px 0px 10px 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 120px;
      min-width: 140px;
      @media (max-width: 380px) {
      }
    }
  }
  a {
    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;
    }
    @media (max-width: 420px) {
      grid-template-columns: 1fr 2fr;
    }
  }
}

.single__rubric__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  margin: 0px 0px 10px 0px;
  max-height: 54px;
  overflow: hidden;
  @media (max-width: 768px) {
    font-size: 17px;
    max-height: 52px;
  }
  @media (max-width: 420px) {
    font-size: 15px;
    max-height: 31px;
    margin: 0px 0px 7px 0px;
  }
}
.single__rubric__subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #9c9c9c;
  margin: 0px 0px 10px 0px;
  max-height: 48px;
  overflow: hidden;
  @media (max-width: 768px) {
    font-size: 15px;
    max-height: 46px;
  }
  @media (max-width: 420px) {
    font-size: 13px;
    max-height: 26px;
    margin: 0px 0px 7px 0px;
  }
}

.fulscreen__block {
  background-color: #e3f0e2;
  padding: 25px 0px 25px 0px;
  margin: 0px 0px 10px 0px;
}

.fulscreen__block__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 15px;
  @media (max-width: 570px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
  }
  @media (max-width: 380px) {
    grid-template-columns: 1fr;
    overflow-y: scroll;
    max-height: 800px;
    scrollbar-color: #a7a7a7 #dddddd; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin; /* толщина */

    &::-webkit-scrollbar {
      width: 2px; /* ширина для вертикального скролла */
      height: 3px; /* высота для горизонтального скролла */
      background-color: #dddddd;
    }
    &::-webkit-scrollbar-thumb {
      width: 2px; /* ширина для вертикального скролла */
      height: 3px;
      background-color: #a7a7a7;
      border-radius: 5px;
    }
  }
}
.fulscreen__block__item {
  display: flex;
  flex-direction: column;
  .rubric__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #5f903b;
    display: block;
    margin: 0px 0px 10px 0px;
  }

  .content__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #222222;
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 0px 0px;
    max-height: 37px;
    overflow: hidden;
    @media (max-width: 420px) {
      font-size: 15px;
      max-height: 31px;
    }
  }
}

.block__4 {
  margin: 0px 0px 30px 0px;
  @media (max-width: 767px) {
    margin: 0px 0px 3px 0px;
  }
}
.block__4__content {
  border-top: 1px solid #5f903b;
  padding: 20px 0px 0px 0px;
  .block__2__left {
    .img {
      position: relative;
      transition: all ease 0.3s;
      &:hover:after {
      }
      &::after {
        content: url(../img/block__4/play_icon.svg);
        width: 50px;
        position: absolute;
        top: 45%;
        left: 45%;
      }
    }
  }
  .block__2__right__item .img {
    position: relative;
    &::after {
      content: url(../img/block__4/play_icon.svg);
      width: 50px;
      position: absolute;
      top: 31%;
      left: 40%;
      @media (max-width: 420px) {
        top: 28%;
        left: 30%;
      }
    }
  }
  .block__2__content {
    border-bottom: unset;
  }
}

/*FOOTER*/
footer {
  background: #fafafa;
  padding: 30px 0px 30px 0px;
}
.footer__up__bb {
  border-bottom: 1px solid #dbdbdb;
  padding: 0px 0px 20px 0px;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  .img {
    @media (max-width: 500px) {
      margin: 0px 0px 15px 0px;
    }
  }
}

.footer__up__social {
  display: flex;
  flex-wrap: wrap;
  .social__item {
    margin: 0px 0px 0px 15px;
  }
}

.footer__down {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 0px 0px;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer__down__content {
  flex: 0 0 78%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 5px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 2fr 2fr;
    justify-items: center;
  }
  @media (max-width: 767px) {
    grid-template-columns: 2fr 2fr;
  }
  @media (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}
.footer__down__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  margin: 0px 15px 10px 0px;
  @media (min-width: 768px) {
    white-space: nowrap;
  }
  @media (max-width: 768px) {
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
}
.footer__down__bc__promo {
  text-align: end;
  @media (max-width: 767px) {
    margin: 17px 0px 0px 0px;
  }
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    span {
      font-weight: bold;
    }
  }
}

/*MAIN__RUBRIC*/

.main__rubric {
  padding: 105px 0px 0px 0px;
  @media (max-width: 991px) {
    padding: 50px 0px 0px 0px;
  }
  .scroll__news {
    min-width: 275px;
    @media (max-width: 991px) {
      min-width: 265px;
    }
  }
  .single__rubric__item .img img {
    min-width: 130px;
    max-height: 140px;
  }
}
.main__rubric__block {
  display: flex;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #5f903b;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 20px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1200px) {
    column-gap: 15px;
  }
  @media (max-width: 620px) {
    grid-template-columns: 1fr;
  }
}

.main__rubric__content {
  display: flex;
  flex-direction: column;
  margin: 0px 25px 35px 0px;
  justify-content: space-between;
  @media (max-width: 991px) {
    margin: 0px 15px 35px 0px;
  }
  @media (max-width: 768px) {
    margin: 0px 0px 35px 0px;
  }
  @media (max-width: 420px) {
    padding: 15px 10px 25px 10px;
  }
}

.bread__crumps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 0px 25px 0px;
  img {
    margin: 0px 8px 0px 0px;
  }
}
.bread__crumps__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  margin: 0px 8px 0px 0px;

  &.active {
    color: #5f903b;
  }
}

.main__rubric__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0px 0px 17px 0px;
  @media (max-width: 420px) {
    font-size: 18px;
  }
}

/*TABS*/
.main__block__left__content__tabs {
  display: flex;
  align-items: center;
  max-width: 500px;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  transition: all ease 0.3s;
  margin: 30px 0px 0px 0px;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
    color: #9c9c9c;
    &:hover {
      background: #3baa36;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      color: #fff;
    }
    &.active {
      background: #3baa36;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      color: #fff;
    }
    &.arrow {
      &:hover {
        background: #dbdbdb;
        border-radius: 10px;
      }
    }
  }
  .tabs__center {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    flex-wrap: wrap;
    .tabs__center__item {
      transition: all ease 0.3s;
      padding: 2px 2px;
      width: 36px;
      height: 36px;
    }
  }
  .tabs__center__item {
  }
}

/*single__news*/

.single__news {
  .main__rubric__content {
    padding: 15px 20px 25px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    @media (max-width: 420px) {
      padding: 15px 10px 25px 10px;
    }
  }
  .main__rubric__title {
    margin: 0px 0px 13px 0px;
  }
  .scroll__news__item__info.bb_reset {
    margin: 0px 0px 10px 0px;
  }
}

.single__news__content {
  .img {
    position: relative;
    padding: 25%;
    max-height: 400px;
    margin: 0px 0px 17px 0px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.single__news__text {
  margin: 0px 0px 22px 0px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135%;
    color: #000000;
    width: 84%;
    margin: 0px 0px 10px 0px;
    @media (max-width: 991px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      margin: 0px 0px 6px 0px;
    }
  }
}

.single__news__social {
  display: flex;
  align-items: center;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #9c9c9c;
    margin: 0px 13px 0px 0px;
    @media (max-width: 420px) {
      margin: 0px 7px 0px 0px;
    }
  }
  .single__news__social__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      margin: 0px 17px 0px 0px;
      display: block;
      width: 34px;
      height: 34px;
      @media (max-width: 420px) {
        margin: 0px 7px 0px 0px;
      }
      &:nth-child(1) {
        background: url(../img/single__news/icons/Facebook__grey.svg) no-repeat;
        &:hover {
          background: url(../img/icons/Facebook.svg) no-repeat;
        }
      }
      &:nth-child(2) {
        background: url(../img/single__news/icons/Vk__grey.svg) no-repeat;
        &:hover {
          background: url(../img/icons/Vk.svg) no-repeat;
        }
      }
      &:nth-child(3) {
        background: url(../img/single__news/icons/WhatsApp__grey.svg) no-repeat;
        &:hover {
          background: url(../img/icons/WhatsApp.svg) no-repeat;
        }
      }
      &:nth-child(4) {
        background: url(../img/single__news/icons/Telegram__grey.svg) no-repeat;
        &:hover {
          background: url(../img/icons/Telegram.svg) no-repeat;
        }
      }
      &:nth-child(5) {
        background: url(../img/single__news/icons/Twitter__grey.svg) no-repeat;
        &:hover {
          background: url(../img/icons/Twitter.svg) no-repeat;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*CONTACTS*/
.contacts {
  margin: 105px 0px 0px 0px;
  @media (max-width: 991px) {
    margin: 70px 0px 0px 0px;
  }
}

.contacts__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0px 0px 25px 0px;
}
.contacts__back {
  background: url(../img/contacts/contacts__background.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 0px;
}

.contacts__block {
  background: #ffffff;
  border-radius: 16px;
  padding: 35px 30px 35px 30px;
  max-width: 370px;
  max-height: 275px;
}
.contacts__item {
  display: flex;
  margin: 0px 0px 25px 0px;
  .img {
    margin: 0px 7px 0px 0px;
  }
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    p {
      font-size: 15px;
    }
    span {
      font-weight: bold;
    }
  }
}

/*ABOUT__US*/
.about__us {
  margin: 0px 0px 45px 0px;
  .contacts__title {
    margin: 0px 0px 14px 0px;
  }
  .about__us__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
    margin: 0px 0px 10px 0px;
  }
}

.about__us__content {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    max-width: 770px;
    margin: 0px 0px 13px 0px;
    @media (max-width: 420px) {
      margin: 0px 0px 8px 0px;
    }
  }
}
